body {
  font-family: "Roboto", sans-serif;
  color: var(--basic-text);
  background-color: var(--color-logo-wh);
  font-size: 14px;
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0;
  opacity: 0;
  margin-top: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  border-radius: 4px;
  transition: var(--time-eff);
}

:root {
  --accent-color: #2196f3;
  --color-logo-bl: #000000;
  --color-logo-wh: #ffffff;
  --color-title: #212121;
  --basic-text: #757575;
  --footer-background: #2f303a;
  --hero-backgraund: #c4c4c4;
  --background-wh: #f5f4fa;
  --fill-social-icon: #afb1b8;
  --background-social-footer: #ffffff1a;
  --time-eff: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-bl {
  color: var(--color-logo-bl);
}

.logo-wh {
  color: var(--color-logo-wh);
}

.site-navigatioin {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  margin-left: 94px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.link-studio,
.link-portfolio,
.link-contacts {
  color: var(--color-title);
  padding: 32px 0;
  display: block;
  position: relative;
}

.link-studio.current::after,
.link-portfolio.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
}

.item-contacts-header:not(:last-child) {
  margin-right: 50px;
}

.link {
  text-decoration: none;
  font-style: normal;
  transition: var(--time-eff);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link:corner-present(link) {
  color-adjust: var(--accent-color);
}

.link:current(link) {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.link-tel,
.link-mail {
  color: var(--basic-text);
}

.contacts-header {
  display: flex;
  font-weight: 500;
  align-items: center;
}

.mail-header,
.tel-header {
  display: flex;
  align-items: center;
}

.icon {
  display: block;
  fill: currentColor;
}

.icon-header {
  margin-right: 10px;
}

.icon:hover {
  fill: var(--accent-color);
}

/* ? Підвал сайту */

.footer-site {
  background-color: var(--footer-background);
  padding: 60px 0px;
}

.logo-footer {
  margin-bottom: 20px;
}

.link-map {
  color: var(--color-logo-wh);
}

.item-contacts-footer:not(:last-child) {
  margin-bottom: 9px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

.footer-left,
.social-links-footer,
.footer-right {
  display: block;
}

.social-links-text,
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-wh);
  margin-bottom: 20px;
  display: block;
}

.input-email-footer {
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  color: #ffffff;
  margin-right: 12px;
}

.input-email-footer:focus {
  outline: none;
}

.btn-send-email {
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-input-email-footer {
  display: flex;
  align-items: center;
}

/*        !Основний контент     */

.hero {
  background-color: var(--hero-backgraund);
  padding: 200px 0;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}

.title-hero {
  color: var(--color-logo-wh);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn-text {
  background-color: var(--accent-color);
  color: var(--color-logo-wh);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
}

.section {
  padding: 94px 0px;
}

.features {
  padding-bottom: 0px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.item-features-list:not(:last-child) {
  margin-right: 30px;
}

.features-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--color-title);
}
.features-list-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--basic-text);
}

.item-feautures-logo {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-wh);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* Чем мы занимаемся */
.we-intereses-title,
.our-team-title,
.our-clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 50px;
  text-align: center;
}

.we-intereses-list {
  display: flex;
  justify-content: space-between;
}

.title-item-we-intereses-list {
  position: relative;
  bottom: 70px;
  background-color: #2f303acc;
  width: 100%;
  display: inline-block;
  padding: 27px 0;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-wh);
}

/* Секія "Наша команда" */

.our-team {
  background-color: var(--background-wh);
}

.our-team-list {
  display: flex;
  justify-content: space-between;
}

.our-team-list-item {
  background: var(--color-logo-wh);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-text {
  margin: 0;
  margin: 30px auto 0;
  text-align: center;
}

.name-person {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.section-social-links {
  padding: 16px 0 30px;
}

.list-social-links {
  display: flex;
  justify-content: center;
}

.item-list-social-links:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--fill-social-icon);
  background-color: var(--color-logo-wh);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.icon-social-link {
  width: 20px;
  height: 20px;
  fill: currentColor;
  display: block;
}

.social-link:hover {
  color: var(--color-logo-wh);
  background-color: var(--accent-color);
}

.social-link-footer {
  color: var(--color-logo-wh);
  background-color: var(--background-social-footer);
}

/* Постоянные клиенты */

.our-clients-list {
  display: flex;
  justify-content: space-between;
}

.client-link {
  display: block;
  color: var(--fill-social-icon);
  background-color: var(--color-logo-wh);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--fill-social-icon);
  border-radius: 4px;
}

.icon-client {
  padding: 16px 32px;
  width: 170px;
  height: 92px;
  fill: currentColor;
  display: block;
}

.client-link:hover {
  border-color: var(--accent-color);
  fill: currentColor;
}

/*            Портфолио                */

.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.item-list-button:not(:last-child) {
  margin-right: 8px;
}

.btn-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--color-title);
  padding: 6px 22px;
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--color-logo-wh);
  background-color: var(--accent-color);
}

.btn-text:hover,
.btn-text:focus {
  color: var(--color-logo-wh);
  background-color: #188ce8;
}

.btn-filter:hover,
.btn-filter:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.name-project {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title);
  font-weight: 700;
}

.type-project {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--basic-text);
}

.list-project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.item-list-project {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: var(--time-eff);
}

.item-list-project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.text-project {
  border: solid 1px #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.item-project-wraper {
  position: relative;
  overflow: hidden;
}

.item-list-project:hover .about-project {
  transform: translateY(0);
}

.about-project {
  position: absolute;
  background: #2196f3e5;
  color: #ffffff;
  font-size: 18px;
  top: 0;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: var(--time-eff);
}

/* M  O  D  A  L */

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--time-eff);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
}

.modal {
  width: 528px;
  min-height: 582px;
  background-color: var(--color-logo-wh);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: var(--time-eff);
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-logo-wh);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: var(--time-eff);
}

.modal-close:hover,
.modal-close:focus {
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  cursor: pointer;
  fill: var(--accent-color);
}

/* FORM Modal Window */

.title-modal-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-wraper {
  position: relative;
  margin-top: 4px;
}

.input {
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  transition: var(--time-eff);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--color-title);
  transition: var(--time-eff);
}

.input-name:focus,
.input-phone:focus,
.input-email:focus,
.input-coment:focus {
  border-color: #2196f3;
}

.input-name:focus + .input-icon-person,
.input-phone:focus + .input-icon-phone,
.input-email:focus + .input-icon-email {
  fill: #2196f3;
}

.form-field-coment {
  margin-bottom: 20px;
}

.input-coment {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 4px;
}

.form-field-checkbox {
  margin: 0 auto 30px;
}

.label-checkbox {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 35px;
}

.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.icon-checkbox {
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: solid var(--color-title) 2px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -25px;
  display: flex;
}

/* .input-checkbox:checked + .icon-checkbox {
  background-image: url(../images/icon-check.svg);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border: none;
} */

.input-checkbox:checked + .icon-checkbox {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border: none;
}

.icon-check {
  fill: transparent;
}

.input-checkbox:checked + .icon-checkbox .icon-check {
  align-items: center;
  justify-content: center;
  fill: #ffffff;
}

.link-checkbox {
  color: var(--accent-color);
  border-bottom: solid 1px var(--accent-color);
}

.btn-modal {
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  bottom: 0;
  position: relative;
  margin: 0 auto;
}
